@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Tasks - Sample App</h2>
        <a href="@Url.Action("Index", "Tasks")" class="btn btn-default">Tasks App</a>
    </div>
</div>
