@{
    ViewData["Title"] = "Info";
}
<div class="row">
    <div class="col-lg-4">
        <h2>Things to do</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">Add User</div>
            <div class="panel-body">
                @using (Html.BeginForm("AddTaskUser", "Tasks", null, FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input type="text" name="FirstName" placeholder="First name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" name="LastName" placeholder="Last name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email address</label>
                        <input type="email" name="EmailAddress" placeholder="abc@def.com" class="form-control" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add User</button>
                    </div>

                }
            </div>
        </div>
        
        
        <div class="panel panel-primary">
            <div class="panel-heading">Add Task</div>
            <div class="panel-body" id="addTaskForm">
                
            </div>
        </div>

    </div>
    
    <div class="col-lg-4">
        <h2>Users</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">Existing Users</div>
            <div class="panel-body" id="taskusers">
                Loading...
            </div>
        </div>
    </div>
    
</div>
@section scripts{
    
    <script>
        var taskapp = {
            gettaskusers: "@Url.Action("TaskUsers")",
            addtaskurl: "@Url.Action("AddTaskForUser")"
        };
        
    </script>
    
    <script src="~/jsx/tasksapp.jsx"></script>
}